<!DOCTYPE html>
<nav class="navbar container">
      <a href="../index.html" class="brand">SA<span>UPI</span></a>

      <button class="menu-toggle" id="menuToggle">☰</button>
<ul class="nav-menu" id="navMenu">
  <li><a href="../index.html">Beranda</a></li>
  <li><a href="../pages/kalender.html">Kalender</a></li>
  <li><a href="../pages/jurusan.html">Jurusan</a></li>
  <li><a href="../pages/lowongan.html">Lowongan</a></li>
  <li><a href="../pages/dokumen.html">Dokumen</a></li>
  <li><a href="../pages/faq.html">FAQ</a></li>
  <li><a href="../pages/komunitas.html">Komunitas</a></li>
  <li><a href="../pages/tentang.html">Tentang</a></li>
  <li><a href="../pages/search.html">Cari</a></li>
</ul>
    </nav>